/* DOC TYPES */
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Maven Pro', Arial, sans-serif;
  font-weight: normal;
}
body.ls-exported #ls-menu {
  display: block !important;
}
body.ls-exported #ls-code-editor {
  display: none !important;
}
body.ls-exported #ls-code-preview {
  width: 65% !important;
}
body.ls-exported #btn-export {
  display: none !important;
}
body.ls-exported #btn-save {
  display: none !important;
}
body.ls-exported #ls-profile {
  display: block !important;
}
#main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main.loading:before {
  content: 'LOADING';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999999;
  text-align: center;
  padding-top: 30%;
  color: #455A64;
}
#main #ls-export-path {
  display: none;
}
#main #ck-auto-save {
  position: absolute;
  z-index: 999998;
  bottom: 15px;
  left: 52%;
}
#main #ck-auto-save input {
  position: relative;
  top: 3px;
}
#main #btn-export {
  width: 70px;
  height: 70px;
  background-color: #fff;
  right: 15px;
  font-size: 12px;
  color: #455A64;
  line-height: 70px;
}
#main #btn-export:hover {
  background-color: #F2F2F2;
}
#main #btn-save {
  width: 50px;
  height: 50px;
  background-color: #0E4FE9;
  right: 90px;
  font-size: 10px;
  color: #fff;
  line-height: 50px;
}
#main #btn-save:hover {
  background-color: #0b3fb9;
}
#main #btn-export,
#main #btn-save {
  box-shadow: 0 0 10px #CFD8DC;
  text-align: center;
  position: absolute;
  bottom: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 999998;
}
#main #ls-code-editor {
  width: 50%;
  height: 100%;
}
#main #ls-menu {
  position: absolute;
  left: 0;
  z-index: 999998;
  top: 0;
  padding: 10px;
  display: none;
  max-width: 27%;
  overflow: auto;
  font-size: 14px;
  height: 100%;
  background-color: #455A64;
  box-shadow: 3px 0 10px #CFD8DC;
}
#main #ls-menu > div {
  overflow: auto;
  height: 90%;
}
#main #ls-menu > div ul {
  color: #9a9a9a;
}
#main #ls-menu > div ul:first-child {
  margin: 0;
  padding: 0;
  display: block;
  color: #FFF;
}
#main #ls-menu > div ul li {
  list-style: none;
}
#main #ls-menu > div ul li span {
  cursor: pointer;
}
#main #ls-menu > div ul li span:hover,
#main #ls-menu > div ul li span.active {
  text-decoration: underline;
  font-weight: 700;
}
#main #ls-menu > div ul li span:hover:before,
#main #ls-menu > div ul li span.active:before {
  content: '\b7\a0';
}
#main #ls-code-preview {
  width: 40%;
  height: 100%;
  padding: 5%;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: auto;
}
#main #ls-code-preview #group-area {
  padding-bottom: 50px;
}
#main #ls-code-preview #ls-profile {
  color: #CFD8DC;
  text-align: right;
  line-height: 20px;
  font-size: 14px;
  display: none;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 999998;
}
#main #ls-code-preview #ls-profile a {
  color: #FFF;
}
#main #ls-code-preview h1,
#main #ls-code-preview h2,
#main #ls-code-preview h3,
#main #ls-code-preview h4,
#main #ls-code-preview h5 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
#main #ls-code-preview .group-item {
  margin-bottom: 40px;
}
#main #ls-code-preview .group-item .group-title {
  font-size: 20px;
  color: #455A64;
  font-weight: 700;
}
#main #ls-code-preview .doc-header {
  margin-bottom: 15px;
}
#main #ls-code-preview .doc-header .doc-title {
  font-size: 30px;
  color: #455A64;
  font-weight: 700;
}
#main #ls-code-preview .doc-header .doc-url {
  font-size: 18px;
}
#main #ls-code-preview .doc-item {
  box-shadow: 0 3px 10px #CFD8DC;
  margin-top: 10px;
}
#main #ls-code-preview .doc-item .item-title-preview {
  font-size: 10px;
  padding: 5px 10px;
  color: #455A64;
}
#main #ls-code-preview .doc-item .sample-code-link {
  color: #455A64;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  line-height: 24px;
  margin-left: 5px;
}
#main #ls-code-preview .doc-item .item-path-area {
  height: 30px;
  line-height: 30px;
  background-color: #607D8B;
  color: #fff;
  cursor: pointer;
}
#main #ls-code-preview .doc-item .item-path-area .item-type {
  border-right: 1px solid #fff;
  padding: 0 10px;
  text-transform: uppercase;
}
#main #ls-code-preview .doc-item .item-path-area:hover {
  background-color: #4b626d;
}
#main #ls-code-preview .doc-item .item-path-area.GET,
#main #ls-code-preview .doc-item .item-path-area.get {
  background-color: #8BC34A;
  color: #fff;
}
#main #ls-code-preview .doc-item .item-path-area.GET:hover,
#main #ls-code-preview .doc-item .item-path-area.get:hover {
  background-color: #71a436;
}
#main #ls-code-preview .doc-item .item-path-area.POST,
#main #ls-code-preview .doc-item .item-path-area.post {
  background-color: #2196F3;
  color: #fff;
}
#main #ls-code-preview .doc-item .item-path-area.POST:hover,
#main #ls-code-preview .doc-item .item-path-area.post:hover {
  background-color: #0c7cd5;
}
#main #ls-code-preview .doc-item .item-path-area.PUT,
#main #ls-code-preview .doc-item .item-path-area.put {
  background-color: #FFC107;
  color: #fff;
}
#main #ls-code-preview .doc-item .item-path-area.PUT:hover,
#main #ls-code-preview .doc-item .item-path-area.put:hover {
  background-color: #d39e00;
}
#main #ls-code-preview .doc-item .item-path-area.DELETE,
#main #ls-code-preview .doc-item .item-path-area.delete,
#main #ls-code-preview .doc-item .item-path-area.DEL,
#main #ls-code-preview .doc-item .item-path-area.del {
  background-color: #F44336;
  color: #fff;
}
#main #ls-code-preview .doc-item .item-path-area.DELETE:hover,
#main #ls-code-preview .doc-item .item-path-area.delete:hover,
#main #ls-code-preview .doc-item .item-path-area.DEL:hover,
#main #ls-code-preview .doc-item .item-path-area.del:hover {
  background-color: #ea1c0d;
}
#main #ls-code-preview .doc-item .item-path-area .item-path {
  padding: 0 10px;
  text-transform: lowercase;
}
#main #ls-code-preview .doc-item .item-title-area {
  padding: 10px;
}
#main #ls-code-preview .doc-item .item-title-area .item-title {
  font-size: 20px;
  font-weight: 700;
  color: #455A64;
}
#main #ls-code-preview .doc-item .item-title-area .item-desc {
  font-size: 18px;
  color: #777;
}
#main #ls-code-preview .doc-item .param-area {
  padding: 15px 5px;
  overflow-x: auto;
}
#main #ls-code-preview .doc-item .param-area .area-title {
  line-height: 35px;
  color: #455A64;
}
#main #ls-code-preview .doc-item .param-area table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
#main #ls-code-preview .doc-item .param-area table td,
#main #ls-code-preview .doc-item .param-area table th {
  text-align: left;
  padding: 5px;
  border: 1px solid #ECEFF1;
  font-size: 12px;
}
#main #ls-code-preview .doc-item .param-area table td.code-sample-menu-item,
#main #ls-code-preview .doc-item .param-area table th.code-sample-menu-item {
  text-align: center;
  border: none;
  cursor: pointer;
}
#main #ls-code-preview .doc-item .param-area table td.code-sample-menu-item:not(.active),
#main #ls-code-preview .doc-item .param-area table th.code-sample-menu-item:not(.active) {
  color: #CCC;
}
#main #ls-code-preview .doc-item .schema {
  margin-top: 15px;
  min-height: 100px;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}